<!DOCTYPE html>
<html>
  <head>
    <title>Three Tier Application</title>
  </head>
  <body>
    <center>
      <?php
        $db=mysqli_connect("{{hostvars[groups['database_servers'][0]]['inventory_hostname']}}","{{mysql_info.user}}","{{mysql_info.password}}","{{mysql_info.database}}");
        if (mysqli_connect_errno()){ 
          echo "<h1> Failed to connect </h1>";
          exit();
          }
        else{
          echo "<img src=images/ansible_bg.png alt='Ansible Automation Platform' width=30% height=30%>";
          echo "<br />";
          echo "<h1>You are connected to backend application server" . " : " . gethostname();
          echo " </h1><br />"; 
          }
        $sql="SELECT username,userpass,usershell,userhome from login where username=\"$_GET[name]\"";
        if($result=mysqli_query($db,$sql)){
          while ($row=mysqli_fetch_row($result)){
            echo " <h2><br />";
            echo  $row[0] . " " . $row[1] ." " .  $row[2]. " ", $row[3]. "<br />";
            }
          }
      ?>	
      <form action="<?php $_PHP_SELF?>" method="GET" >
        Enter User Name: <input type=text name="name" />
        <input type="submit" />
      </form>
    </center>
  </body>
</html>
